/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

/* 
Palette:
font standard: #545849
font darker: #2c2b1c
background: #fcfeed

Candidates for accents
red: #7c5953 darker: #6a4d47

*/

/* font-family: 'Belgrano', serif; */

/* Globals */

:root {
    --main-text-color: #545849;
    --darker-text-color: #2c2b1c;
    --lighter-color: #fcfeed;
    --lighter-color-rgba: rgba(252, 254, 237, 0.97);
    --xlight-color: #fefbf1;
    --red-accent-color: #6a4d47;
    --body-font: "Amiko", sans-serif;
    --heading-font: "Belgrano", serif;
}

body, html {
    /* height: 100%; */
    
    background-color: var(--lighter-color);

    font-family: var(--body-font);
    color: var(--main-text-color);

    scroll-behavior: smooth;
}

body {
    padding: 8% 19%;
}

h1 {
    font-family: var(--heading-font);
    padding-top: 8%;
    font-size: 3.5rem;
}

/* Remove default link coloration */
a, a:visited, a:focus, a:hover, a:active {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--darker-text-color);
}

b {
    font-weight: 600;
}

section {
    display: flex;
}

.title {
    flex: 1;
}

.content {
    flex: 3;
}

/* Media Queries */
/* @media only screen  and (max-width: 1024px) {
 
}

@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 480px) {

} */

/* Scrollbar */

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background: var(--lighter-color);
}

::-webkit-scrollbar-thumb {
background: var(--main-text-color);
border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
background: var(--darker-text-color);
}