/*Body Background*/

body { 
    background-image: url("../images/black_mamba.png");
    background-repeat: repeat;
    color: #ededed;
}

.contact-section, .intro-section {
    background-color: rgba(255, 255, 255, 0.04);
}


/* intro formatting */
.intro-section p {
    font-size: 1.9rem;
    text-align: left;
    text-justify: auto;
}

/* portfolio formatting*/
/*
.portfolio-section {
    margin-top: -100px;
}*/

.navbar-default {
    background-color: #ff9d0a;
}

.nav-pills {
    background-color: #ff9d0a;
    color: #ededed;
}

.nav-pills li a{
    color: #ededed;
}

.nav-pills li a:hover {
    color: #a1a1a1;
}

.tab-pane {
    padding-top: 30px;
}